#gameplay {
  display: grid;
  grid-template-columns: 1fr auto 500px 1fr;
  gap: 20px;
  justify-items: left;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

#gameboard {
  position: relative;
}

#clue-board {
  width: 500px;
  display: block;
  z-index: 0;
}

#players-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#players-section > h2:first-of-type {
  width: fit-content;
  border: 3px solid #5f432c;
  border-radius: 3px;
  padding: 10px;
  align-self: center;
}

#actions {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

#gameplay .player {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  gap: 10px;
}

.avatar {
  height: 50px;
  object-fit: contain;
  z-index: 2;
}

.turn-arrow {
  width: 30px;
  object-fit: contain;
}

.turn-arrow[src=""] {
  visibility: hidden;
}

#gameplay p,
ul {
  font-size: 16px;
}

/* Room placements
 */
#gameboard > div {
  position: absolute;
}

#conservatory {
  z-index: 1;
  top: 15px;
  left: 25px;
  height: 110px;
  width: 135px;
}

#ball_room {
  z-index: 1;
  top: 15px;
  left: 180px;
  height: 145px;
  width: 155px;
}

#kitchen {
  z-index: 1;
  top: 35px;
  left: 355px;
  height: 130px;
  width: 130px;
}

#billiard_room {
  z-index: 1;
  top: 140px;
  left: 15px;
  height: 105px;
  width: 135px;
}

#library {
  z-index: 1;
  top: 270px;
  left: 15px;
  height: 115px;
  width: 165px;
}

#dining_room {
  z-index: 1;
  top: 210px;
  left: 335px;
  height: 125px;
  width: 155px;
}

#study {
  z-index: 1;
  top: 405px;
  left: 20px;
  height: 95px;
  width: 160px;
}

#hall {
  z-index: 1;
  top: 360px;
  left: 200px;
  height: 145px;
  width: 135px;
}

#lounge {
  z-index: 1;
  top: 390px;
  left: 355px;
  height: 110px;
  width: 135px;
}