#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-canvas-primary);
  border: 3px solid var(--c-canvas-highlight);
  border-radius: 20px;
  padding: 20px;
  z-index: 999;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
}

#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.guess-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.final-guess-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.final-guess-wrapper img {
    margin: auto;
}

.final-guess-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.final-guess-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.final-guess-display {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 130px;
  width: 180px;
  padding: 10px;
}

.final-guess-display img {
  height: 60px;
  object-fit: contain;
  display: block;
}

#final-guess-submit-btn {
  height: 60px;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.guess-display {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.guess-display img {
  height: 100px;
  object-fit: contain;
  display: block;
}

.selected {
  border: 3px solid var(--c-canvas-highlight);
  border-radius: 3px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.flex-row img {
  cursor: pointer;
}

.confetti img {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
}

.confetti img:first-of-type {
  animation: pop 1s ease-in-out;
}

.confetti img:last-of-type {
  cursor: pointer;
}
