#note {
  background-image: url("../media/note.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 20px 20px 50px;
  transform: rotate(10deg);
}

#setup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  justify-items: center;
  align-items: stretch;
  text-align: center;

   & section:first-of-type {
    grid-area: 1 / 1 / 2 / 5;
    display: grid;
    align-items: center;

    & img {
      grid-area: 1 / 1 / 2 / 2;
      width: 100px;
      height: 100px;
    }

    & div:first-of-type {
      grid-area: 1 / 2 / 2 / 5;
    }
  }

/*  & div:not(section div) {
    border: 2px solid;
    border-radius: 3px;
    padding: 10px;
    width: 400px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

  & div:first-of-type {
    grid-area: 2 / 2 / 3 / 3;
  }

  & div:last-of-type {
    grid-area: 2 / 3 / 3 / 4;
  }

  & section:last-of-type {
    grid-area: 3 / 1 / 4 / 5;
    align-content: end;
  } */
}}