#note {
  background-image: url("../media/note.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 20px 20px 50px;
  transform: rotate(8deg);
}

#setup {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-items: center;
  text-align: center;
}

#setup > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#setup .icon {
  height: 50px;
  object-fit: contain;
}

#btn-play {
  max-width: 100px;
  cursor: pointer;
}

fieldset {
  padding: 0px 40px 40px 40px;
  border: 2px solid #5e422b;
  border-radius: 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

legend {
  font-family: Cinzel, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
  font-weight: 500;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

label {
  font-family: Cinzel, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 600;
}

input {
  height: 30px;
  width: 200px;
  border: 2px solid hsl(27, 37%, 27%);
  border-radius: 3px;
}
