#welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#welcome > div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
}

#welcome > div > div {
  flex: 1;
  padding: 20px;
  max-width: 400px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mode_image {
  height: 200px;
  display: block;
  margin: auto;
}

#adult-mode h2 {
  font-family: "Oooh Baby", Georgia, "Times New Roman", Times, serif;
}

#kids-mode h2 {
  font-family: "Reenie Beanie", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
